<% content_for(:header) do %>
Carriers
<% end %>

<table>
  <tr>
    <th>Carrier Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @carriers.each do |carrier| %>
  <tr>
    <td><%= carrier.name %></td>
    <td><%= link_to 'Edit', edit_carrier_path(carrier) %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Carrier', new_carrier_path %> | 
<%= link_to 'Back to Job', new_job_path %>
