<h1>Carriers</h1>

<table>
  <tr>
    <th>Carrier Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @carriers.each do |carrier| %>
  <tr>
    <td><%= carrier.name %></td>
    <td><%= link_to 'Edit', edit_carrier_path(carrier) %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Carrier', new_carrier_path %>
<%= link_to 'Back to Job', '/home/new' %>
