<% content_for(:header) do %>
Milestone Validations
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @milestone_validations.each do |milestone_validation| %>
  <tr>
    <td><%= milestone_validation.name %></td>
    <td><%= link_to 'Edit', edit_milestone_validation_path(milestone_validation) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New', new_milestone_validation_path %>
<%= link_to 'Back to Task', new_milestone_task_path %>
