<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @milestone_validation.name %>
</p>


<%= link_to 'Edit', edit_milestone_validation_path(@milestone_validation) %> |
<%= link_to 'Back', milestone_validations_path %>
