 
<table>
<% if @records %>	
<tr>
	<td style="font-weight:bold;" >
		Record Type	
	</td>
	
	<td style="font-weight:bold;" >
		Date Completed
	</td>
</tr>
	<% for f in @records %>
	<% @milestone_record = f
		@milestone_record.date_completed = "click to edit" if f.date_completed_is_nil_or_blank
	%>
		<tr>
			<td>
				<%= f.milestone_task.milestone_validation.name if f.milestone_task and f.milestone_task.milestone_validation 
				%>
			</td>
			
			<td>

				<%= in_place_editor_field :milestone_record, :date_completed %>

			</td>
		</tr>
	<% end %>
<% end %>	
</table>