<h1>Work Sites</h1>

<table>
  <tr>
    <th>Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @work_sites.each do |work_site| %>
  <tr>
    <td><%= work_site.name %></td>
    
    <td><%= link_to 'Edit', edit_work_site_path(work_site) %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work site', new_work_site_path %>
<%= link_to 'Back to Job', '/home/new' %>
