<%= form_for(@customer) do |f| %>

  <div class="field">
    <%= f.label "Customer Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
